// RUBRIQUE PHOTOS //

.photos--gallery {
    @include flexcontainer($display: flex, $flexdirection: column);

    @media #{$medium} {
        @include flexcontainer($flexdirection: inherit);
    }
}

.photos--main,
.photos--element {
    height: 200px;
}

.photos--main {
    @include flexchild($flexbasis: 100%);
    background-image: url("../img/formules/formule_01.jpg");

    @media #{$small} {
        height: 400px;
    }

    @media #{$medium} {
        @include flexchild($flexbasis: 33.333%);
    }
}

.photos--items {
    @include flexchild($flexbasis: 100%);

    @media #{$small} {
        @include flexcontainer($display: flex, $flexdirection: row, $flexwrap: wrap);
    }

    @media #{$medium} {
        @include flexchild($flexbasis: 66.667%);
    }
}

.photos--element {
    @include flexchild($flexbasis: 100%);
    background-size: cover;
    background-repeat: no-repeat;

    @media #{$small} {
        @include flexchild($flexbasis: 50%);
    }

    @media #{$medium} {
        @include flexchild($flexbasis: 33.333%);
    }

    // Lorsque la galerie est dynamisée cette solution est inline dans le HTML
    &.one {
        background-image: url("../img/restaurant/restaurant_01.jpg");
    }

    &.two {
        background-image: url("../img/restaurant/restaurant_02.jpg");
    }

    &.three {
        background-image: url("../img/restaurant/restaurant_03.jpg");
    }

    &.four {
        background-image: url("../img/restaurant/restaurant_04.jpg");
    }

    &.five {
        background-image: url("../img/restaurant/restaurant_05.jpg");
    }

    &.six {
        background-image: url("../img/restaurant/restaurant_06.jpg");
    }
}
