// POPIN RESERVATION //

.reservation {
    @include flexcontainer($display: flex, $flexdirection: column, $alignitems: center, $justifycontent: center);
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    background: $green_bunker;
    z-index: 2;

    h1 {
        color: $white;
    }
}

.reservation--box {
    @include flexcontainer($display: inline-flex, $flexdirection: column, $justifycontent: center);
    margin-top: 50px;

    .btn {
        @include flexchild($alignself: center);
        margin: 10px;

        @media (min-width: 570px) {
            @include flexchild($alignself: flex-end);
        }
    }

    hr {
        position: relative;
        width: 100%;
        height: 1px;
        margin: 40px 0;
    }
}

.reservation--select {
    @include flexcontainer($display: flex, $flexwrap: wrap, $flexdirection: column, $justifycontent: center);

    @media (min-width: 570px) {
        @include flexcontainer($flexdirection: row);
    }
}

.reservation--date,
.reservation--hour,
.reservation--guest {
    @include flexcontainer($display: flex, $flexdirection: column, $alignitems: center, $justifycontent: center);
    position: relative;
    height: 150px;
    width: 120px;
    margin: 10px;
    padding: 10px;
    border: 1px solid $white;
}

.reservation--title,
.reservation--number,
.reservation--suffix {
    margin-bottom: 0;
    color: $white;
}

.reservation--title {
    position: absolute;
    right: 0;
    top: 10px;
    left: 0;
    @include font-size(12px);
    text-transform: uppercase;
}

.reservation--number {
    @include font-name(Neutraface2-Demi);
    font-weight: 500;
    @include font-size(40px);
    text-transform: uppercase;
}

.reservation--suffix {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    @include font-size(12px);
}
