// RUBRIQUE TEMOIGNAGES //

.testimony--case {
    @include flexcontainer($display: flex);
    @include flexchild($flexgrow: 1);
    padding-left: 16.667%;
    padding-right: 16.667%;
}

.testimony--number {
    @include font-name('BrandonGrotesque-Medium');
    font-weight: 500;
    @include font-size(100px);

    span {
        display: block;
        margin-top: -20px;
        @include font-name('BrandonGrotesque-Light');
        font-weight: 300;
        @include font-size(30px);
        text-transform: uppercase;
        text-align: center;
    }
}
