// ANIMATIONS RUBRIQUE MENUS //

.menus--details {
    @media #{$small} {
        figcaption {
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(0,40px,0);
            transform: translate3d(0,40px,0);
        }

        .menus--name {
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(0,80px,0);
            transform: translate3d(0,80px,0);
        }
    }

    &:hover {
        figcaption {
            opacity: 1;
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }

        .menus--name {
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0)
        }
    }
}
