// ANIMATIONS //

// Animation pour la flèche du header
@keyframes bounce {
    from {
        transform: translateY(5px);
    }
    to {
        transform: translateY(-10px);
    }
}

// Animation fade
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// Animation fade to none
@keyframes fadeDisplay {
    0% {
        opacity: 0;
        display: none;
    }
    100% {
        opacity: 1;
        display: block;
    }
}
