// FOND FRESQUE //

.bkg-japanese {
    height: 80px;
    width: 100%;
    margin: 50px 0;
    background: url("../img/background/bg.jpg");
    background-repeat: repeat;
    background-size: contain;
}
