// BURGER //

$bar-width: 30px;
$bar-height: 2px;
$bar-spacing: 8px;

.burger {
    position: relative;
    display: inline-block;
    width: $bar-width;
    height: $bar-height + $bar-spacing*2;
    padding-top: 5px;
    cursor: pointer;
    z-index: 5;
}

.bars,
.bars:after,
.bars:before {
    width: $bar-width;
    height: $bar-height;
}

.bars {
    position: relative;
    transform: translateY($bar-spacing);
    background: rgba(255, 255, 255, 1);
    transition: all 0ms 300ms;

    &.animate {
        background: rgba(255, 255, 255, 0);
    }
}

.bars:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: $bar-spacing;
    background: rgba(255, 255, 255, 1);
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bars:after {
    content: "";
    position: absolute;
    left: 0;
    top: $bar-spacing;
    background: rgba(255, 255, 255, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bars.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.bars.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}
