// LIENS //

// Définition du style des liens
a {
    color: $grey_space;
    @include font-name(BrandonGrotesque-Bold);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
