// LIENS //

// Définition du style des liens
a {
    color: $green_bunker;
    @include font-name(BrandonGrotesque-Bold);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
