// OVERLAY //

.overlay {
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    background: $green_bunker;
    z-index: 2
}
