// TITRES //

// Définition des blocs titre
.numero {
    position: relative;
    padding-left: 70px;
    color: $green_bunker;
    @include font-name(Neutraface2-Light);
    font-weight: 300;
    @include font-size(18px);
    text-align: left;
    text-transform: uppercase;

    @media #{$small} {
        padding-left: 90px;
        @include font-size(20px);
    }

    &.first {
        padding-left: 62px;

        @media #{$small} {
            padding-left: 78px;
        }
    }

    span {
        display: block;
        margin-top: -5px;
        margin-left: -2px;
        @include font-size(24px);

        @media #{$small} {
            @include font-size(36px);
        }
    }

    &:before {
        counter-increment: numero;
        content: "0" counter(numero);
        position: absolute;
        top: 0;
        left: 0;
        margin-top: -16px;
        margin-right: 60px;
        color: $green_bunker;
        @include font-name(BrandonGrotesque-Bold);
        font-weight: 700;
        @include font-size(50px);

        @media #{$small} {
            margin-top: -20px;
            margin-right: 60px;
            @include font-size(68px);
        }
    }
}

.pagination {
    @include flexchild($flexbasis: 100%);
    margin-bottom: 40px;
    margin-left: -3px;

    @media #{$small} {
        @include flexchild($flexbasis: 41.667%);
    }
}

.numerotation {
    display: inline-block;
}
