// RUBRIQUE RESTAURANT //

.restaurant--intro {
    @include flexcontainer($display: flex, $flexwrap: wrap);
    @include flexchild($flexbasis: 100%);

    @media #{$medium} {
        @include flexchild($flexbasis: 58.333%);
        padding-right: 8.333%;
    }
}

.restaurant--title {
    @include flexchild($flexbasis: 100%);
    margin-bottom: 20px;

    @media #{$small} {
        margin-bottom: 30px;
    }
}

.restaurant--first,
.restaurant--second {
    @include flexchild($flexbasis: 100%);

    @media #{$tiny} {
        @include flexchild($flexbasis: 50%);
    }
}

.restaurant--first {
    @media #{$tiny} {
        padding-right: 15px;
    }
}

.restaurant--second {
    @media #{$tiny} {
        padding-left: 15px;
    }
}

.restaurant--infobar {
    @include flexcontainer($display: flex, $flexdirection: column);
    margin-top: 40px;
}

.restaurant--clock,
.restaurant--hour {
    display: inline-block;
}

.restaurant--clock {
    @include flexcontainer($display: flex, $alignitems: flex-start);

    img {
        margin-right: 10px;
    }
}

.restaurant--hour {
    span {
        margin-bottom: 0;
        @include font-name(Neutraface2-Demi);
        font-weight: 500;
        text-transform: uppercase;
    }
}
