// POPIN RESERVATION //

.reservation {
    @include flexcontainer($flexdirection: column, $alignitems: center, $justifycontent: flex-start);
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background: $green_bunker;
    overflow: auto;
    z-index: 5;

    @media (min-width: 570px ){
        @include flexcontainer($justifycontent: center);
        display: none;
    }

    &.show {
        display: flex;
        -webkit-animation: fadeIn 0.5s ease-out;
        -moz-animation: fadeIn 0.5s ease-out;
        -o-animation: fadeIn 0.5s ease-out;
        animation: fadeIn 0.5s ease-out;
    }

    h1, p {
        color: $white;
    }
}

.reservation--box {
    @include flexcontainer($display: flex, $flexdirection: column, $justifycontent: center);
    position: relative;
    min-height: 470px;
    width: 70%;
    margin-top: 50px;

    @media (min-width: 570px) {
        @include flexcontainer($display: inline-flex);
        min-height: auto;
        width: auto;
    }

    .btn {
        @include flexchild($alignself: center);
        margin: 10px;

        @media (min-width: 570px) {
            @include flexchild($alignself: flex-end);
        }
    }

    hr {
        position: relative;
        height: 1px;
        width: 100%;
        margin: 40px 0 15px 0;
    }
}

.reservation--select {
    @include flexcontainer($display: flex, $flexwrap: nowrap, $flexdirection: column, $alignitems: center, $justifycontent: center);

    @media #{$small} {
        @include flexcontainer($flexwrap: wrap);
    }

    @media (min-width: 570px) {
        @include flexcontainer($flexdirection: row);
    }
}
