// DETAILS RUBRIQUE MENUS //

.formules--details {
    @include flexcontainer($flexdirection: column, $alignitems: flex-start, $justifycontent: flex-end);

    &.starter {
        background-image: url("../img/formules/formule_01.jpg");
    }

    &.fish {
        background-image: url("../img/formules/formule_02.jpg");
    }

    &.soup {
        background-image: url("../img/formules/formule_03.jpg");
    }
}

.formules--offer {
    position: relative;
    @include flexcontainer($flexdirection: column);
    padding-top: 40px;

    .formules--name {
        @include font-size(26px);
    }

    &.offer {
        background: $green_bunker;
    }
}

.formules--name {
    @include font-name(Neutraface2-Demi);
    font-weight: 500;
    text-transform: uppercase;
}

.formules--icon {
    margin-right: 5px;
}

.formules--count {
    margin-right: 10px;
    @include font-size(12px);
}

.formules--price {
    padding-top: 20px;
    @include font-name(BrandonGrotesque-Light);
    font-weight: 300;
    @include font-size(26px);
}

.formules--promo {
    line-height: 18px;
}

.formules--mentions {
    position: absolute;
    bottom: 20px;
    @include font-size(12px);
}
