// PHRASE ACCROCHE //

.header--ads {
    @include flexcontainer($display: flex, $flexdirection: column, $alignitems: flex-start, $justifycontent: center);
    @include flexchild($flexgrow: 1);

    @media #{$small} {
        @include flexcontainer($justifycontent: flex-end);
        margin-bottom: 140px;
    }
}

.header--title,
.header--subtitle {
    color: $white;
}

.header--title {
    color: $white;
    @include font-name(Neutraface2-Demi);
}

.header--subtitle {
    margin: 0 10px 40px 2px;
    color: $white;
    @include font-name(BrandonGrotesque-Light);
    font-weight: 300;
    text-transform: none;

    @media #{$small} {
        margin-top: -10px;
    }

    h2 {
        line-height: 15px;
    }
}
