// RESERVATION //

.header--booking {
    @include flexcontainer($display: flex, $alignitems: center, $justifycontent: center);
    height: 60px;
    color: $white;
    @include font-name(BrandonGrotesque-Light);
    text-transform: uppercase;
    background: $green_bunker;
    transition: background 0.2s ease-in-out;

    &:hover {
        background: lighten($green_bunker, 5%);
        transition: background 0.2s ease-in-out;
    }

    @media #{$small} {
        display: none;
    }
}
