// HEADER //

.header {
    @include flexcontainer($display: flex, $flexdirection: column);
    height: 100%;
    background: url('../img/desktop/header.jpg') no-repeat;
    background-position: center center;
    background-size: cover;

    .flex-container {
        @include flexcontainer($display: flex, $flexdirection: column);
        @include flexchild($alignself: flex-start, $flexgrow: 1);
    }
}
