// MENU DU HEADER //

.header--menuMobile {
    @media #{$medium} {
        display: none;
    }
}

.header--menuDesktop {
    display: none;

    @media #{$medium} {
        display: inline-block;
    }
}

.header--menu {
    position: relative;
    display: inline-block;
    padding-right: 40px;

    li {
        display: inline-block;
        list-style-type: none;

        &:not(:first-child) {
            padding-left: 25px;
        }
    }

    a {
        color: $white;
        @include font-name(Neutraface2-Light);
        font-weight: 300;
        @include font-size(14px);
        text-transform: uppercase;

        &:hover {
            text-decoration: none;
        }
    }

    hr {
        display: none;
        position: absolute;
        bottom: 10px;
        height: 2px;
        width: 28px;
        background: $white;
        border: 0;
    }
}
