// MENU DU HEADER //

.header--menu{
    @media #{$medium} {
        display: inline-block;

        .burger {
            display: none;
        }
    }
}

.header--nav {
    @include flexcontainer($display: flex, $alignitems: center, $justifycontent: center);
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: -100%;
    text-align: center;
    background: $green_bunker;
    z-index: 4;

    @media #{$medium} {
        position: relative;
        display: inline-block;
        width: auto;
        top: auto;
        left: auto !important; // Important si le navigateur est redimensionné à la volée
        bottom: auto;
        padding-right: 40px;
        text-align: inherit;
        background: none;
    }

    li {
        height: 50px;
        list-style-type: none;

        @media #{$medium} {
            display: inline-block;
            height: auto;

            &:not(:first-child) {
                padding-left: 25px;
            }
        }
    }

    a {
        color: $white;
        @include font-name(Neutraface2-Light);
        font-weight: 300;
        @include font-size(20px);
        text-transform: uppercase;

        &:hover {
            text-decoration: none;
        }

        @media #{$medium} {
            @include font-size(14px);
        }
    }

    hr {
        display: none;
        position: absolute;
        height: 2px;
        width: 28px;
        top: 20px;
    }
}

.header--reservation {
    display: none;

    @media #{$medium} {
        display: inline-block;;
    }
}
