// FLECHE BAS //

.header--next {
    @include flexcontainer($display: flex, $flexwrap: wrap);
    display: none;

    @media #{$small} {
        @include flexcontainer($alignitems: center, $justifycontent: center);
        @include flexchild($alignself: flex-end, $flexshrink: 1);
        height: 100px;
        width: 100%;
        background: transparent;
    }
}

.header--arrow {
    width: 30px;
}
