// FLECHE BAS //

.header--next {
    @include flexcontainer($display: flex);
    display: none;

    @media #{$small} {
        @include flexcontainer($alignitems: center, $justifycontent: center);
        height: 100px;
        width: 100%;
        background: transparent;
    }
}

.header--arrow {
    width: 30px;
    animation: bounce 0.90s ease infinite alternate;
}
