// TOPBAR //

.header {
    @include flexcontainer($display: flex, $flexdirection: column);
    height: 100%;
    background: url('../img/desktop/header.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.header--topbar {
    @include flexcontainer($display: flex, $flexwrap: wrap, $alignitems: center);
    @include flexchild($alignself: flex-start);
    height: 80px;

    @media #{$medium} {
        padding-top: 3%;
    }
}

.header--branding,
.header--navigation {
    @include flexcontainer($display: flex);
    @include flexchild($flexbasis: 50%);
    line-height: 80px;
}

.header--branding {
    @include flexcontainer($justifycontent: flex-start);

    img {
        width: 83px;
    }

    @media #{$medium} {
        @include flexchild($flexbasis: 10%);
    }
}

.header--navigation {
    @include flexcontainer($justifycontent: flex-end);

    @media #{$medium} {
        @include flexchild($flexbasis: 90%);
    }
}
