// TOPBAR //

.header--topbar {
    @include flexcontainer($display: flex, $alignitems: center);
    height: 80px;

    @media #{$medium} {
        padding-top: 3%;
    }
}

.header--branding,
.header--navigation {
    @include flexcontainer($display: flex);
    @include flexchild($flexbasis: 50%);
}

.header--branding {
    @include flexcontainer($justifycontent: flex-start);

    img {
        width: 83px;
    }

    @media #{$medium} {
        @include flexchild($flexbasis: 10%);
    }
}

.header--navigation {
    @include flexcontainer($justifycontent: flex-end);

    @media #{$medium} {
        @include flexchild($flexbasis: 90%);
    }
}
