// TYPO //

@include font-face('BrandonGrotesque-Light', 'BrandonGrotesque-Light', normal, 300);
@include font-face('BrandonGrotesque-Regular', 'BrandonGrotesque-Regular', normal, 400);
@include font-face('BrandonGrotesque-Medium', 'BrandonGrotesque-Medium', normal, 500);
@include font-face('BrandonGrotesque-Bold', 'BrandonGrotesque-Bold', bold, 700);
@include font-face('BrandonGrotesque-Black', 'BrandonGrotesque-Black', bold, 900);
@include font-face('Neutraface2-Light', 'Neutraface2-Light', normal, 300);
@include font-face('Neutraface2-Demi', 'Neutraface2-Demi', bold, 500);
