// LAYOUT //

html, body {
    height: 100%;
}

html {
    color: black;
    font-family: "Arial", "Sans Serif";
    background: $white;
}

body {
    @include font-size(16px);

    @media #{$tiny} {
        @include font-size(18px);
    }
}

.main, .section, .article {
    padding-top: 30px;
    padding-bottom: 30px;

    @media #{$tiny} {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
