// LAYOUT //

html, body {
    height: 100%;
    width: 100%;
}

html {
    color: $green_bunker;
    font-family: "Arial", "Sans Serif";
    background: $white;
}

body {
    @include font-size(16px);

    @media #{$tiny} {
        @include font-size(18px);
    }
}

main {
    counter-reset: numero;
    padding-top: 30px;
    padding-bottom: 30px;

    @media #{$tiny} {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

section {
    padding-top: 40px;
    padding-bottom: 40px;

    @media #{$tiny} {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
}
