// LAYOUT //

html, body {
    height: 100%;
    width: 100%;
}

html {
    color: $grey_space;
    font-family: "Arial", "Sans Serif";
    background: $white;
}

body {
    @include font-size(16px);

    @media #{$tiny} {
        @include font-size(18px);
    }
}

main {
    counter-reset: numero;
    padding-top: 30px;
    padding-bottom: 30px;
}

section, footer {
    padding-top: 30px;
    padding-bottom: 30px;

    @media #{$tiny} {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
