// MEDIA QUERIES //

$large:  "only screen and (min-width: 1199px)";
$medium: "only screen and (min-width: 990px)";
$small: "only screen and (min-width: 768px)";
$tiny: "only screen and (min-width: 480px)";
$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx)";
