// GENERAL //

// Définition des titrailles
h1, .h1-like,
h2, .h2-like,
h3, .h3-like,
h4, .h4-like {
    margin: 0;
    color: $grey_space;
    @include font-name(Neutraface2-Demi);
    text-transform: uppercase;
}

h1, .h1-like {
    @include font-size(22px);

    @media #{$tiny} {
        @include font-size(28px);
    }
    @media #{$small} {
        @include font-size(36px);
    }
}

h2, .h2-like {
    @include font-size(20px);

    @media #{$tiny} {
        @include font-size(24px);
    }
}

h3, .h3-like {
    @include font-size(18px);

    @media #{$tiny} {
        @include font-size(20px);
    }
}

strong {
    font-weight: 900;
}

// Définition des paragraphes
p {
    margin-bottom: 10px;
    color: $grey_space;
    @include font-name(BrandonGrotesque-Light);
    @include font-size(16px);

    @media #{$tiny} {
        @include font-size(18px);
    }
}
