// HELPERS //

// Wrapper pour contenir l'ensemble du site
.flex-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

    @media #{$tiny} {
        width: 90%;
    }

    @media #{$large} {
        max-width: 1200px;
    }
}

// Annulation des gouttières
.flex-row {
    @include flexcontainer($display: flex, $flexwrap: wrap);
    @include flexchild($flexshrink: 1);
    margin-right: -15px;
    margin-left: -15px;
}

// Ajout de gouttières
.gutters {
    padding-right: 15px;
    padding-left: 15px;
}

// Images responsive
.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}
